.trending {
    padding: 3rem 0;
    background: $bl;
    @include media(768) {
        padding: 2rem 0;
    }
    @include media(500) {
        padding: 1.5rem 0;
    }
    &__shows {
        &_title {
            display: block;
            position: relative;
            max-width: 30rem;
            font-size: 2.8rem;
            font-weight: 700;
            text-decoration: none;
            color: $wh;
            cursor: pointer;
            margin-left: 1.7rem;
            margin-bottom: 4rem;
            @include media(768) {
                font-size: 2.2rem;
                max-width: 24rem;
                margin-bottom: 3rem;
            }
            @include media(500) {
                font-size: 2rem;
                max-width: 21rem;
                margin-bottom: 2rem;
            }
            &:before {
                display: block;
                content: '';
                width: 0.5rem;
                height: 100%;
                background: $bg;
                border-radius: 1rem;
                position: absolute;
                top: 0;
                left: -1.5rem;
            }
            &::after {
                display: block;
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 2rem;
                height: 2rem;
                background: url('../img/right-arrow.png') no-repeat right / cover;
                transition: .2s linear;
                @include media(500) {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
            &:hover::after {
                right: -2%;
            }
        }
    }
    &__posters {
        display: grid;
        grid-template-columns: repeat(6, minmax(100px, 206px));
        justify-content: space-between;
        @include media(1300) {
            grid-template-columns: repeat(3, minmax(100px, 206px));
            justify-content: space-around;
            column-gap: 2rem;
            row-gap: 5rem;
        }
        @include media(500) {
            grid-template-columns: repeat(2, minmax(100px, 175px));
            justify-content: space-around;
            row-gap: 2rem;
        }
        &_item {
            img {
                transition: .3s linear;
            }
            &:hover img {
                filter: drop-shadow(0 3px 7px rgba(#326CFF, 0.5));
            }
        }
    }
    &--item {
        border-radius: 2rem;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__movies {
        margin-top: 6rem;
        @include media(1300) {
            margin-top: 4rem;
        }
        @include media(500) {
            margin-top: 2rem;
        }
    }
    &__btn {
        font-family: 'Mulish', sans-serif;
        font-size: 1.8rem;
        white-space: nowrap;
        margin-top: 5rem;
        box-shadow: (0 5px 15px rgba($blue, 0.5));
        display: block;
        padding: 1.5rem 5rem;
        border: none;
        outline: none;
        color: $wh;
        font-size: 1.6rem;
        text-align: center;
        background: $bg;
        border-radius: 10rem;
        cursor: pointer;
        transition: .2s linear;
        @include media(1300) {
            margin-top: 4rem;
        }
        @include media(768) {
            margin: 3rem auto 0 auto;
        }
        @include media(500) {
            padding: 1rem 2.5rem;
            margin-top: 2rem;
            font-size: 1.4rem;
        }
        &:hover {
            box-shadow: (0 5px 15px rgba($blue, 0.9));
        }
    }
}