//MAIN COLORS
$bl: #000000;
$bl-2: #2F2E2E;
$wh: #ffffff;
$text: #C2C2C2;
$bg: linear-gradient(to left,#26FFF2, #326CFF);
$blue: #326CFF;
$sky: #26FFF2;
$yellow: #FCCB1A;
$footer: #101012;

// GRADIENT
$genres-1: linear-gradient(135deg,#FD093F, #F383F1);
$genres-2: linear-gradient(135deg,#0FFFDA, #3CDB77);
$genres-3: linear-gradient(135deg,#B936FF, #57DEDA);
$genres-4: linear-gradient(135deg,#FD093F, #FCCB1A);
$genres-5: linear-gradient(135deg,#FF6472, #FDA75D);
$genres-6: linear-gradient(135deg,#13547A, #80D0C7);
$genres-7: linear-gradient(135deg,#FFF77B, #FFBF42);
$genres-8: linear-gradient(135deg,#1FA2FF, #1F535C);

$soon: linear-gradient(to left, #0D1A73, #000000)