@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:wght@300;400;500;700&display=swap');
@import 'vars';
@import 'media';
@import 'scrollbar';
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 10px;
}
*,*:before,*:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
body {
    font-family: 'Mulish', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2;
    color: $wh;
    &.active {
        overflow: hidden;
    }
}
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
h1 {
    font-family: 'Marcellus', serif;
    font-size: 8rem;
    line-height: 1.2;
    color: $wh;
}
.container {
    max-width: 147rem;
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
}
.btn {
    padding: 1.5rem 5rem;
    border: none;
    outline: none;
    color: $wh;
    font-size: 1.6rem;
    line-height: 1.3;
    text-align: center;
    background: $bg;
    border-radius: 10rem;
    cursor: pointer;
    transition: .2s linear;
    img {
        width: 1.5rem;
        @include media(768) {
            width: 1.2rem;
        }
        @include media(500) {
            width: 1rem;
        }
    }
    &:hover,&:active,&:focus {
        box-shadow: (0 5px 15px 3px rgba($blue, 0.5));
    }
    @include media(768) {
        padding: 1rem 2.5rem;
    }
}
@import 'header';
@import 'intro';
@import 'trending';
@import 'popular';
@import 'soon';
@import 'register';
@import 'footer';
@import 'modal';

