@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:wght@300;400;500;700&display=swap");
*::-webkit-scrollbar {
  width: .5rem; }

*::-webkit-scrollbar-track {
  background: #000000; }

*::-webkit-scrollbar-thumb {
  background: #326CFF; }

*::-webkit-scrollbar-thumb:hover {
  background: #26FFF2; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px; }

*, *:before, *:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-family: 'Mulish', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff; }
  body.active {
    overflow: hidden; }

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

h1 {
  font-family: 'Marcellus', serif;
  font-size: 8rem;
  line-height: 1.2;
  color: #ffffff; }

.container {
  max-width: 147rem;
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto; }

.btn {
  padding: 1.5rem 5rem;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 1.3;
  text-align: center;
  background: -webkit-gradient(linear, right top, left top, from(#26FFF2), to(#326CFF));
  background: linear-gradient(to left, #26FFF2, #326CFF);
  border-radius: 10rem;
  cursor: pointer;
  -webkit-transition: .2s linear;
  transition: .2s linear; }
  .btn img {
    width: 1.5rem; }
    @media only screen and (max-width: 768px) {
      .btn img {
        width: 1.2rem; } }
    @media only screen and (max-width: 500px) {
      .btn img {
        width: 1rem; } }
  .btn:hover {
    -webkit-box-shadow: 0 5px 15px 3px rgba(50, 108, 255, 0.5);
            box-shadow: 0 5px 15px 3px rgba(50, 108, 255, 0.5); }
  @media only screen and (max-width: 768px) {
    .btn {
      padding: 1rem 2.5rem; } }

.header {
  padding: 1rem 0;
  background: #000000;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 11; }
  @media only screen and (max-width: 768px) {
    .header {
      padding: 0.5rem 0; } }
  .header__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  @media only screen and (max-width: 768px) {
    .header__logo {
      max-width: 10rem;
      z-index: 11; } }
  @media only screen and (max-width: 500px) {
    .header__logo {
      max-width: 8rem; } }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 5rem;
            column-gap: 5rem; }
    @media only screen and (max-width: 1000px) {
      .header__nav {
        -webkit-column-gap: 3rem;
                column-gap: 3rem; } }
    @media only screen and (max-width: 768px) {
      .header__nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        row-gap: 2rem;
        background: #000000; } }
    .header__nav_link {
      text-decoration: none;
      color: #ffffff;
      opacity: .5;
      -webkit-transition: .2s linear;
      transition: .2s linear;
      white-space: nowrap; }
      .header__nav_link:hover {
        opacity: 1; }
      .header__nav_link.active {
        opacity: 1; }
        .header__nav_link.active::after {
          display: block;
          content: '';
          background: -webkit-gradient(linear, right top, left top, from(#26FFF2), to(#326CFF));
          background: linear-gradient(to left, #26FFF2, #326CFF);
          width: 100%;
          height: 0.2rem;
          margin: 0.5rem 0 0 0; }
      @media only screen and (max-width: 768px) {
        .header__nav_link {
          font-size: 2.5rem; } }
    @media only screen and (max-width: 768px) {
      .header__nav.active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
  @media only screen and (max-width: 500px) {
    .header__social img {
      max-width: 1.3rem;
      height: auto; } }
  .header__social img:not(:last-child) {
    margin-right: 7.5rem; }
    @media only screen and (max-width: 1000px) {
      .header__social img:not(:last-child) {
        margin-right: 5rem; } }
    @media only screen and (max-width: 768px) {
      .header__social img:not(:last-child) {
        margin-right: 2.5rem; } }
    @media only screen and (max-width: 500px) {
      .header__social img:not(:last-child) {
        margin-right: 1rem; } }
  @media only screen and (max-width: 768px) {
    .header__social {
      margin-left: auto;
      margin-right: 5rem; } }
  @media only screen and (max-width: 500px) {
    .header__social {
      margin-left: 0;
      margin-right: 0; } }
  .header__btn {
    display: none;
    position: relative;
    width: 40px;
    height: 20px;
    cursor: pointer; }
    @media only screen and (max-width: 768px) {
      .header__btn {
        display: block;
        z-index: 11; } }
    .header__btn span {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background: #ffffff;
      right: 0;
      opacity: 1;
      pointer-events: none;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
      .header__btn span:nth-child(1) {
        top: 0; }
      .header__btn span:nth-child(2) {
        top: 50%;
        width: 75%; }
      .header__btn span:nth-child(3) {
        top: 100%;
        width: 50%; }
    .header__btn.active span {
      background: -webkit-gradient(linear, right top, left top, from(#26FFF2), to(#326CFF));
      background: linear-gradient(to left, #26FFF2, #326CFF); }
      .header__btn.active span:nth-child(1) {
        top: 50%;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .header__btn.active span:nth-child(2) {
        top: 50%;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        width: 100%; }
      .header__btn.active span:nth-child(3) {
        opacity: 0;
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%); }
  .header.active {
    padding: .5rem 0;
    position: fixed;
    -webkit-animation: header-fixed .3s linear;
            animation: header-fixed .3s linear; }
    .header.active .header__logo {
      max-width: 12rem; }
      @media only screen and (max-width: 768px) {
        .header.active .header__logo {
          max-width: 10rem;
          z-index: 11; } }
      @media only screen and (max-width: 500px) {
        .header.active .header__logo {
          max-width: 8rem; } }

@-webkit-keyframes header-fixed {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes header-fixed {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
.intro {
  padding: 22rem 0 8rem 0;
  background: #000000 url("../img/banner.jpg") no-repeat top right;
  border-bottom: 0.1rem solid #2F2E2E; }
  @media only screen and (max-width: 768px) {
    .intro {
      padding: 10rem 0 5rem 0;
      background-position: center top;
      background-size: cover; } }
  @media only screen and (max-width: 500px) {
    .intro {
      padding: 10rem 0 2.5rem 0; } }
  .intro__wrap {
    max-width: 54rem; }
    @media only screen and (max-width: 768px) {
      .intro__wrap {
        max-width: 100%; } }
  @media only screen and (max-width: 768px) {
    .intro__title {
      font-size: 5rem; } }
  @media only screen and (max-width: 768px) {
    .intro__title {
      font-size: 4rem; } }
  .intro__rating {
    margin-top: 4rem;
    font-size: 1.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 4rem;
            column-gap: 4rem; }
    @media only screen and (max-width: 768px) {
      .intro__rating {
        margin-top: 2rem;
        font-size: 1.4rem;
        -webkit-column-gap: 3rem;
                column-gap: 3rem; } }
    @media only screen and (max-width: 500px) {
      .intro__rating {
        font-size: 1.3rem; } }
    .intro__rating_time {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-column-gap: 2rem;
              column-gap: 2rem; }
      .intro__rating_time p:nth-child(2) {
        padding: 0.2rem 1rem;
        border: 1px solid #326CFF;
        border-radius: 1rem; }
      @media only screen and (max-width: 500px) {
        .intro__rating_time {
          -webkit-column-gap: 1rem;
                  column-gap: 1rem; } }
    .intro__rating_star {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-column-gap: 2rem;
              column-gap: 2rem; }
      @media only screen and (max-width: 500px) {
        .intro__rating_star {
          -webkit-column-gap: 1rem;
                  column-gap: 1rem; } }
  .intro__describe {
    color: #C2C2C2;
    margin-top: 2.5rem; }
    @media only screen and (max-width: 768px) {
      .intro__describe {
        font-size: 1.4rem;
        margin-top: 1.5rem; } }
    @media only screen and (max-width: 500px) {
      .intro__describe {
        font-size: 1.3rem; } }
  .intro__btn {
    margin-top: 3.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 3rem;
            column-gap: 3rem; }
    @media only screen and (max-width: 768px) {
      .intro__btn {
        margin-top: 2rem;
        -webkit-column-gap: 2rem;
                column-gap: 2rem; } }
    @media only screen and (max-width: 500px) {
      .intro__btn {
        margin-top: 2rem;
        -webkit-column-gap: 1.5rem;
                column-gap: 1.5rem; } }
    .intro__btn-info {
      padding: 1.5rem 5rem;
      border: 2px solid #ffffff;
      outline: none;
      background: #ffffff;
      color: #000000;
      font-size: 1.6rem;
      line-height: 1;
      border-radius: 10rem;
      cursor: pointer;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
      .intro__btn-info:hover {
        border: 2px solid #326CFF;
        background: transparent;
        color: #ffffff; }
      @media only screen and (max-width: 768px) {
        .intro__btn-info {
          padding: 1rem 2.5rem; } }
    .intro__btn button {
      font-family: 'Mulish', sans-serif;
      font-size: 1.8rem;
      white-space: nowrap; }
      @media only screen and (max-width: 768px) {
        .intro__btn button {
          font-size: 1.4rem; } }

.trending {
  padding: 6rem 0;
  background: #000000; }
  @media only screen and (max-width: 768px) {
    .trending {
      padding: 4rem 0; } }
  @media only screen and (max-width: 500px) {
    .trending {
      padding: 3rem 0; } }
  .trending__shows_title {
    display: block;
    position: relative;
    max-width: 30rem;
    font-size: 2.8rem;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    margin-left: 1.7rem;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 768px) {
      .trending__shows_title {
        font-size: 2.2rem;
        max-width: 24rem;
        margin-bottom: 3rem; } }
    @media only screen and (max-width: 500px) {
      .trending__shows_title {
        font-size: 2rem;
        max-width: 21rem;
        margin-bottom: 2rem; } }
    .trending__shows_title:before {
      display: block;
      content: '';
      width: 0.5rem;
      height: 100%;
      background: -webkit-gradient(linear, right top, left top, from(#26FFF2), to(#326CFF));
      background: linear-gradient(to left, #26FFF2, #326CFF);
      border-radius: 1rem;
      position: absolute;
      top: 0;
      left: -1.5rem; }
    .trending__shows_title::after {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 2rem;
      height: 2rem;
      background: url("../img/right-arrow.png") no-repeat right/cover;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
      @media only screen and (max-width: 500px) {
        .trending__shows_title::after {
          width: 1.5rem;
          height: 1.5rem; } }
    .trending__shows_title:hover::after {
      right: -2%; }
  .trending__posters {
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 206px));
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media only screen and (max-width: 1300px) {
      .trending__posters {
        grid-template-columns: repeat(3, minmax(100px, 206px));
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-column-gap: 2rem;
                column-gap: 2rem;
        row-gap: 5rem; } }
    @media only screen and (max-width: 500px) {
      .trending__posters {
        grid-template-columns: repeat(2, minmax(100px, 175px));
        -ms-flex-pack: distribute;
            justify-content: space-around;
        row-gap: 2rem; } }
    .trending__posters_item img {
      -webkit-transition: .3s linear;
      transition: .3s linear; }
    .trending__posters_item:hover img {
      -webkit-filter: drop-shadow(0 3px 7px rgba(50, 108, 255, 0.5));
              filter: drop-shadow(0 3px 7px rgba(50, 108, 255, 0.5)); }
  .trending--item {
    border-radius: 2rem;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .trending__movies {
    margin-top: 6rem; }
    @media only screen and (max-width: 1300px) {
      .trending__movies {
        margin-top: 4rem; } }
    @media only screen and (max-width: 500px) {
      .trending__movies {
        margin-top: 2rem; } }
  .trending__btn {
    font-family: 'Mulish', sans-serif;
    font-size: 1.8rem;
    white-space: nowrap;
    margin-top: 5rem;
    -webkit-box-shadow: 0 5px 15px rgba(50, 108, 255, 0.5);
            box-shadow: 0 5px 15px rgba(50, 108, 255, 0.5);
    display: block;
    padding: 1.5rem 5rem;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 1.6rem;
    text-align: center;
    background: -webkit-gradient(linear, right top, left top, from(#26FFF2), to(#326CFF));
    background: linear-gradient(to left, #26FFF2, #326CFF);
    border-radius: 10rem;
    cursor: pointer;
    -webkit-transition: .2s linear;
    transition: .2s linear; }
    @media only screen and (max-width: 1300px) {
      .trending__btn {
        margin-top: 4rem; } }
    @media only screen and (max-width: 768px) {
      .trending__btn {
        margin: 3rem auto 0 auto; } }
    @media only screen and (max-width: 500px) {
      .trending__btn {
        padding: 1rem 2.5rem;
        margin-top: 2rem;
        font-size: 1.4rem; } }
    .trending__btn:hover {
      -webkit-box-shadow: 0 5px 15px rgba(50, 108, 255, 0.9);
              box-shadow: 0 5px 15px rgba(50, 108, 255, 0.9); }

.popular {
  padding: 6rem 0;
  background: #000000; }
  @media only screen and (max-width: 768px) {
    .popular {
      padding: 4rem 0; } }
  @media only screen and (max-width: 500px) {
    .popular {
      padding: 3rem 0; } }
  .popular__genres {
    margin-bottom: 7rem; }
    @media only screen and (max-width: 768px) {
      .popular__genres {
        margin-bottom: 5rem; } }
    @media only screen and (max-width: 500px) {
      .popular__genres {
        margin-bottom: 3rem; } }
    .popular__genres_title {
      display: block;
      position: relative;
      max-width: 25rem;
      font-size: 2.8rem;
      font-weight: 700;
      text-decoration: none;
      color: #ffffff;
      cursor: pointer;
      margin-left: 1.7rem;
      margin-bottom: 4rem; }
      @media only screen and (max-width: 768px) {
        .popular__genres_title {
          font-size: 2.2rem;
          max-width: 21rem;
          margin-bottom: 3rem; } }
      @media only screen and (max-width: 500px) {
        .popular__genres_title {
          font-size: 2rem;
          max-width: 18rem;
          margin-bottom: 2rem; } }
      .popular__genres_title:before {
        display: block;
        content: '';
        width: 0.5rem;
        height: 100%;
        background: -webkit-gradient(linear, right top, left top, from(#26FFF2), to(#326CFF));
        background: linear-gradient(to left, #26FFF2, #326CFF);
        border-radius: 1rem;
        position: absolute;
        top: 0;
        left: -1.5rem; }
      .popular__genres_title::after {
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 2rem;
        height: 2rem;
        background: url("../img/right-arrow.png") no-repeat right/cover;
        -webkit-transition: .2s linear;
        transition: .2s linear; }
        @media only screen and (max-width: 500px) {
          .popular__genres_title::after {
            width: 1.5rem;
            height: 1.5rem; } }
      .popular__genres_title:hover::after {
        right: -2%; }
    .popular__genres_items {
      display: grid;
      grid-template-columns: repeat(4, minmax(24rem, 34rem));
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-column-gap: 1rem;
              column-gap: 1rem;
      row-gap: 2rem; }
      @media only screen and (max-width: 1400px) {
        .popular__genres_items {
          grid-template-columns: repeat(3, minmax(24rem, 34rem));
          -ms-flex-pack: distribute;
              justify-content: space-around; } }
      @media only screen and (max-width: 1000px) {
        .popular__genres_items {
          grid-template-columns: repeat(2, minmax(24rem, 34rem));
          -ms-flex-pack: distribute;
              justify-content: space-around;
          row-gap: 1.5rem; } }
      @media only screen and (max-width: 600px) {
        .popular__genres_items {
          grid-template-columns: repeat(1, minmax(24rem, 60rem));
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          row-gap: 1rem; } }
    .popular__genres_item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 34rem;
      height: 20rem;
      border-radius: 2rem;
      cursor: pointer;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
      @media only screen and (max-width: 600px) {
        .popular__genres_item {
          max-width: 60rem;
          height: 15rem; } }
      .popular__genres_item:nth-child(1) {
        background: linear-gradient(135deg, #FD093F, #F383F1); }
      .popular__genres_item:nth-child(2) {
        background: linear-gradient(135deg, #0FFFDA, #3CDB77); }
      .popular__genres_item:nth-child(3) {
        background: linear-gradient(135deg, #B936FF, #57DEDA); }
      .popular__genres_item:nth-child(4) {
        background: linear-gradient(135deg, #FD093F, #FCCB1A); }
      .popular__genres_item:nth-child(5) {
        background: linear-gradient(135deg, #FF6472, #FDA75D); }
      .popular__genres_item:nth-child(6) {
        background: linear-gradient(135deg, #13547A, #80D0C7); }
      .popular__genres_item:nth-child(7) {
        background: linear-gradient(135deg, #FFF77B, #FFBF42); }
      .popular__genres_item:nth-child(8) {
        background: linear-gradient(135deg, #1FA2FF, #1F535C); }
      .popular__genres_item:hover {
        -webkit-box-shadow: 0 3px 10px rgba(38, 255, 242, 0.7);
                box-shadow: 0 3px 10px rgba(38, 255, 242, 0.7); }
    .popular__genres_content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      row-gap: 1rem; }
      .popular__genres_content img {
        width: 8rem;
        height: 8rem; }
      .popular__genres_content h3 {
        font-size: 2rem;
        font-weight: 700; }
  .popular__actors_title {
    display: block;
    position: relative;
    max-width: 40rem;
    font-size: 2.8rem;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    margin-left: 1.7rem;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 768px) {
      .popular__actors_title {
        font-size: 2.2rem;
        max-width: 32rem;
        margin-bottom: 3rem; } }
    @media only screen and (max-width: 500px) {
      .popular__actors_title {
        font-size: 2rem;
        max-width: 20rem;
        margin-bottom: 2rem; } }
    .popular__actors_title:before {
      display: block;
      content: '';
      width: 0.5rem;
      height: 100%;
      background: -webkit-gradient(linear, right top, left top, from(#26FFF2), to(#326CFF));
      background: linear-gradient(to left, #26FFF2, #326CFF);
      border-radius: 1rem;
      position: absolute;
      top: 0;
      left: -1.5rem; }
    .popular__actors_title::after {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 2rem;
      height: 2rem;
      background: url("../img/right-arrow.png") no-repeat right/cover;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
      @media only screen and (max-width: 500px) {
        .popular__actors_title::after {
          width: 1.5rem;
          height: 1.5rem; } }
    .popular__actors_title:hover::after {
      right: -2%; }
  .popular__actors_people {
    display: grid;
    grid-template-columns: repeat(6, 19rem);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media only screen and (max-width: 1300px) {
      .popular__actors_people {
        grid-template-columns: repeat(3, minmax(10rem, 19rem));
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-column-gap: 2rem;
                column-gap: 2rem;
        row-gap: 3rem; } }
    @media only screen and (max-width: 768px) {
      .popular__actors_people {
        grid-template-columns: repeat(2, 19rem);
        -ms-flex-pack: distribute;
            justify-content: space-around;
        row-gap: 2rem; } }
    @media only screen and (max-width: 500px) {
      .popular__actors_people {
        grid-template-columns: repeat(1, 19rem);
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        row-gap: 1rem; } }
  .popular__actors_person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2rem;
    width: 19rem;
    height: 25rem;
    cursor: pointer; }
    .popular__actors_person img {
      width: 30rem;
      height: 19rem;
      border-radius: 50%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: top;
         object-position: top;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
    .popular__actors_person h3 {
      font-size: 1.8rem;
      font-weight: 700; }
    .popular__actors_person:hover img {
      -webkit-box-shadow: 0 3px 15px rgba(50, 108, 255, 0.7);
              box-shadow: 0 3px 15px rgba(50, 108, 255, 0.7); }

.modal {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999; }
  .modal__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 96rem;
    height: 100%; }
    .modal__wrap video {
      width: 100%;
      height: auto;
      border: none;
      outline: none; }
    .modal__wrap iframe {
      width: 100rem;
      height: 100%; }
      @media only screen and (max-width: 768px) {
        .modal__wrap iframe {
          width: 60rem; } }
      @media only screen and (max-width: 500px) {
        .modal__wrap iframe {
          width: 30rem; } }
  .modal__close {
    display: block;
    position: absolute;
    top: 1%;
    right: 1%;
    width: 30px;
    height: 30px;
    cursor: pointer; }
    .modal__close span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: #ffffff;
      -webkit-transition: .2s linear;
      transition: .2s linear;
      pointer-events: none; }
      .modal__close span:nth-child(1) {
        top: 50%;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .modal__close span:nth-child(2) {
        top: 50%;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .modal__close:hover span {
      background: -webkit-gradient(linear, right top, left top, from(#26FFF2), to(#326CFF));
      background: linear-gradient(to left, #26FFF2, #326CFF); }
  .modal.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

/*# sourceMappingURL=style.css.map */